.main3_container {width: 100%; padding: 120px 0; background-size: cover; color: rgba(249, 249, 249, 0.7); min-height: 100vh;
                  background-position: center; display: flex; justify-content: center; align-items: center;
                  background-image: linear-gradient(rgba(18, 18, 18, 0.35)), url("/media/wall1.png");}

.main3_inner {width: 100%; max-width: 800px; display: flex; flex-direction: column; align-items: center;}

.main3_cont {display: flex; flex-direction: column; align-items: center; text-align: center; position: relative; 
             width: fit-content;}

.main3_cta {display: flex; align-items: center; color: rgba(249, 249, 249, 0.7); ; gap: 4px; transition: opacity 0.3s ease; 
            text-decoration: none; margin-bottom: 20px; position: absolute; top: -45px; left: 0px; cursor: pointer;
            text-shadow: 1px 1px 1px rgba(249, 249, 249, 0.5), -2px -2px 10px rgba(18, 18, 18, 0.7);
            font-size: 16px; font-weight: 400;}

.main3_cta img {transform: rotate(90deg); width: 23px; opacity: 0.7;}

.main3_cta:hover, .main3_cta:active {opacity: 0.7;}

.main3_cont h1 {font-size: 40px; letter-spacing: 40%; font-weight: 800; margin-bottom: 50px;
                position: relative; display: inline-block; margin-right: -12px;
                text-shadow: 1px 1px 1px rgba(249, 249, 249, 0.5), -2px -2px 10px rgba(18, 18, 18, 0.7);}

.main3_meta_grid {width: 98%; display: flex; flex-direction: column; gap: 10px; text-align: center;}

.main3_row {display: flex; justify-content: space-between; align-items: center; padding-bottom: 10px; box-sizing: border-box;}

.main3_label, .main3_value {font-size: 13px; letter-spacing: 10%; font-weight: 300;
                            text-shadow: 0.5px 1px 1px rgba(249, 249, 249, 0.8), -1px -2px 10px rgba(18, 18, 18, 0.7);}

.main3_label {text-align: left;}

.main3_value {text-align: right;}