.hero_video_section {position: relative; width: 100vw; height: 100vh; overflow: hidden;}

.video_container {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0;}

.background_video {width: 100%; height: 100%; object-fit: cover;}

.video_dimmer {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;
               background: linear-gradient(
                to bottom,
                        rgba(0, 0, 0, 0.4) 0%,   /* 상단 헤더 부분 어둡게 */
                          transparent 30%,
                          transparent 70%,
                        rgba(0, 0, 0, 0.4) 100%  /* 하단 부분 어둡게 */
                        );}